body{
    background: url("images/adventure_time.jpg") no-repeat center center fixed;
;
}

.princess {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    padding: 10px;
    float: left;
}
#clickBMO {
    height: 200px;
    width: 150px;
    background: url("images/bmo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    left:800px;
    top:330px;
    z-index: 100;
    box-shadow: 0px 0px 55px #000;
    cursor: pointer;
}
p {
    color: white;
    font-size: 15px;
    font-family: "Bodoni 72 Oldstyle";
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    position: relative;
    top: 8em;

}
#title {
    color: #333333;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 0px;
    position: relative;
    top: -15px;
    font-family: Georgia;
}
#level {
    color: #333333;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 0px;
    position: relative;
    top: -50px;

}


.bubblegum{
    background: url("images/princess_b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15em;
    margin-left: 25em;
    box-shadow: 0px 0px 55px #000;
}
.flame{
    background: url("images/fire_princess.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15em;
    box-shadow: 0px 0px 55px #000;
}

.marceline{
    background: url("images/marceline.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -1em;
    margin-left: 0em;
    box-shadow: 0px 0px 55px #000;
}

.lumpyspace{
    background: url("images/lsp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -1em;
    margin-left: 25em;
    box-shadow: 0px 0px 55px #000;
}
